@{
    Chevalresk_1.Models.UserView onlineUser = Chevalresk_1.Models.OnlineUsers.GetSessionUser();
}
@model Chevalresk_1.Models.UserView

@{
    ViewBag.Title = "Détails de l'usager";
}
<h2>
    @ViewBag.Title
    @Helper.GlyphiconAction("Index", "glyphicon-arrow-up", "Retour à la liste")
    @if (onlineUser != null && onlineUser.Admin)
    {
        @Helper.GlyphiconAction("Delete/" + Model.Id, "glyphicon-remove-circle", "Effacer " + Model.Alias)
    }

</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Alias)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Montant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Montant)
        </dd>
        <dd>
            <div class="photoFixedSize">
                @Helper.ImageFixedSize2(Url.Content(Model.GetImageURL()), Model.Alias)
            </div>
        </dd>
    </dl>
</div>


